@font-face {
	font-family: 'FoundrySterlingOT3-Book';
	src: url('../fonts/FoundrySterlingOT3-Book.otf') format('opentype');
}
@font-face {
	font-family: 'FoundrySterlingOT3-Demi';
	src: url('../fonts/FoundrySterlingOT3-Demi.otf') format('opentype');
}