@font-face {
	font-family: 'FoundrySterlingOT3-Medium';
	src: url('../fonts/FoundrySterlingOT3-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'FoundrySterlingOT3-Bold';
	src: url('../fonts/FoundrySterlingOT3-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'FoundrySterlingOT3-Book';
	src: url('../fonts/FoundrySterlingOT3-Book.otf') format('opentype');
}